* {
    font-family: "Pretendard";
    font-weight: 500;
  }
.OAuth-button{
    display: flex;
    cursor: pointer;
    justify-content: center
  }
  .regist-div{
    text-align: center;
  }
  .login_btn{
    padding: 8px 16px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 1%;
  }  
  .login_btn:hover {
    background-color: #0056b3;
}
